# Database
DB_USER=dev
DB_PASSWORD=dev
DB_NAME=tournament
DATABASE_URL=postgresql://dev:dev@localhost:5432/tournament

# Telegram
BOT_TOKEN=123456:ABC-DEF...
LAPTU_CHANNEL_ID=-100123456789

# JWT
SECRET_KEY=change_me_to_64_random_chars_here_use_openssl_rand_hex_32

# Admin telegram_id через запятую
ADMIN_IDS=123456789

# App
DOMAIN=insomniac.tournament-dvfu.ru
TWA_URL=https://insomniac.tournament-dvfu.ru
ENVIRONMENT=development
